<!DOCTYPE html>
<html>
	<head>
		<title>Kingdom Taxi - Home</title>
		<link href="/static/css/dark.css" rel="stylesheet" >
		<script type = "text/javascript" 
			src = "{{ url_for('static', filename = 'hello.js') }}" ></script>
		
		<!-- This merely hides the second date if One Way Trip is selected -->
		<script>
			function hideDate() {
				var x = document.getElementById("type").value;
				if (x == 1) {
					document.getElementById("date1-label").innerHTML = "Date:";
					document.getElementById("date2-div-label").style.display = "none";
					document.getElementById("date2-div-input").style.display = "none";
				} else {
					document.getElementById("date1-label").innerHTML = "First Date:";
					document.getElementById("date2-div-label").style.display = "initial";
					document.getElementById("date2-div-input").style.display = "initial";
				}
			}
		</script>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		
		<!-- head -->
		<div id = "head">
			<a href = '/' ><img src = "/static/images/Taxi-Cab-PNG-HD.png" alt = "Taxi Cab"></a>
		</div>

		<!-- content -->
		<div id = "content">
			<form action = "/list-rides" method = "post">
				
				<!-- Trip Type -->
				<div class = "two-column">
					<label for = "type">Trip Type:</label>
				</div>
				<div class = "two-column">
					<select id = "type" name = "type" onchange = "hideDate()">
						<option value = 1>One way</option>
						<option value = 2 selected>Round trip</option>
					</select>
				</div>

				<!-- First Date -->
				<div class = "two-column">
					<label for = "date1" id = "date1-label">First Date:</label>
				</div>
				<div class = "two-column">
					<input type = "date" id = "date1" name = "date1" value = "2022-08-11" />
				</div>

				<!-- Second Date -->
				<div class = "two-column" id = "date2-div-label">
					<label for = "date2">Second Date:</label>
				</div>
				<div class = "two-column" id = "date2-div-input">
					<input type = "date" id = "date2" name = "date2" value = "2022-08-14" />
				</div>

				<!-- Travelers -->
				<div class = "two-column">
					<label for = "travelers">Travelers:</label>
				</div>
				<div class = "two-column">
					<input type = "number" id = "travelers" name = "travelers" value = "1" min = "1" max = "15" />
				</div>

				<!-- View Rides -->
				<div class = "two-column">
				</div>
				<div class = "two-column">
					<input type = "submit" value = "View Rides" />
				</div>
			</form>
			
			<!-- Admin Link -->
			<p style = "text-align: right"><a href = "/admin">Admin</a></p>
			
		</div>
	</body>
</html>