<!DOCTYPE html>
<html>
	<head>
		<title>Kingdom Taxi - Rides</title>
		<link href="/static/css/dark.css" rel="stylesheet" >
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<script>
			function add_selection_to_url(tuple) {
			
				var current_url = new URL(window.location.href);
				var select_ride_url = new URL( {{ url_for('select_ride') }} );
				
				select_ride_url.searchParams = current_url.searchParams;
				select_ride_url.searchParams.append('selection', tuple);
			}
		</script>
		
	</head>
	<body>
		
		<!-- head -->
		<div id = "head">
			<a href = '/' ><img src = "/static/images/Taxi-Cab-PNG-HD.png" alt = "Taxi Cab"></a>
		</div>
		
		<!-- content -->
		<div id = "content">
		
			<!-- This DIV displays existing rides -->
			{% if data %}
				<table>
					<tr>
						<th>Driver</th>
						<th>Date</th>
						<th>Time</th>
						<th>Seats Available</th>
						<th>Selection</th>
					</tr>
					{% for ride in data %}
						<tr>
							{% for element in ride %}
								<td> {{ element }} </td>
							{% endfor %}
							<td><a href = "rides/select?ride={{ ride }}">SELECT</a></td>
						</tr>
					{% endfor %}
				</table>
			{% else %}
				<p>There are no rides available for this date. Try submitting your information on the <a href = '/' >Home</a> page.</p>
			{% endif %}
			
		</div>
	</body>
</html>